/* Popup Overlay */
.container {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent background */
}

/* Popup Content */
.content {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(240, 239, 239, 0.959); 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.btn{
    background-color:rgb(175, 82, 175);
    color: white;
    text-align: center;
}
.icon{
    margin: 8px;
}
.icon:hover{
    color:rgb(175, 82, 175);
}