.nav-flush .nav-link {
    border-radius: 0;
  }
.footer a{
    display: inline;
}
.footer i{
    font-size: 1.5rem;
    padding: 20px;
    color: black;
    
}
.footer i:hover{
    color: rgb(175, 82, 175);
    transition: .6s;
}
@media (max-width:400px){
    .footer i{
        font-size: 1rem;
        padding: 8px;
    }
}