
.main{
    display: flex;
}
.footer,.title{
    display: none;
}

@media (max-width:827px){
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .title{
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
    }

  }