<form [formGroup]="signinForm" (ngSubmit)="signin()">
    <h1>Log In</h1>
    <div class="form-control">
      <label for="username">Username</label>
      <input formControlName="username" id="username" type="username" autocomplete="new-username"/>
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input formControlName="password" id="password" type="password" autocomplete="new-password"/>
    </div>
    <button type="submit">Log In &#8594;</button>
    <div class="links">
      <a routerLink="/login" class="link">Create New Account</a>
    </div>
  </form>
