.container{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-left: 400px;
}
.container .row{
    margin: 40px;
}
.color{
    color: rgb(175, 82, 175);
  }
  .card-text{
    padding: 5px;
  }
@media (max-width:827px){
    .container{
        margin: auto;
    }
  }
@media (max-width:430px){
    .container{
      margin: 20px 0px 0px 0px;
  }
    
}