<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
         <div class="card" style="width: 18rem;">           
            <div class="card-body">                         
              <img [src]="post?.image" class="card-img-top" alt="...">
             <!-- <img src="https://firebasestorage.googleapis.com/v0/b/social-media-69270.appspot.com/o/posts%2F1728128093806_job-details.jpg?alt=media&token=da895102-d6df-4453-a5f4-d4658a4572b5" class="card-img-top" alt="..."> -->

              <p class="card-text"><b>{{post?.userName}}</b> {{post?.caption}}        
                <i class="fa-solid fa-trash-can icon" (click)="delete(post?.postId)"></i>                                  
              </p>
              <hr>
              <a class="btn" [ngClass]="{'color': likedPosts[post?.postId ?? -1]}" (click)="likePost(post?.postId)"><i class="fa-regular fa-thumbs-up"></i>
                Like  {{ likesCount[post?.postId ?? 0] || 0 }}
              </a>
              <a class="btn" (click)="displayComments(post?.postId)"><i class="fa-regular fa-comment"></i>
                Comment  {{ cmntsCount[post?.postId ?? 0] || 0 }}</a>
            </div>
          </div> 
        </div>
      </div>
</div>
